﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/javascript; charset=UTF-8"></meta>
	<title>#{applicationViewController.name}</title>
	
	<link rel="stylesheet" type="text/css" href="resources/css/singleEntity/layout.css"/>
	<link rel="stylesheet" type="text/css" href="resources/css/singleEntity/singleEntity.bundle.css"/>
	<link rel="stylesheet" type="text/css" href="resources/css/singleEntity/layout_ext.css"/>
	<link rel="stylesheet" type="text/css" href="resources/css/menu.css" />
	<link rel="stylesheet" type="text/css" href="resources/css/openqa.css" />
	<script src="resources/js/jquery-1.10.2.min.js"> </script>
	<script src="resources/js/openqa-util.js"> </script>
	<script src="resources/js/openqa.searchbutton.js"> </script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
</h:head>
<h:body	style="height: 100%; width: 100%; margin: 0px; font-family: arial, sans-serif">
	<!--START FLOAT MENU-->
	<!-- Barra superior -->
	<div style="top: 0px; left: 0px; z-index: 3;">
		<div id="menu" class="menu"
			style="height: 38px; font-size: 12px; font-weight: bold; vertical-align: middle; background-color: black;">
			<div style="padding-top: 10px; float: left;">
				<a style="margin-left: 15px; color: white; text-decoration: none;" href="./">
					<span>Search</span>
				</a> 
				<a style="margin-left: 15px; text-decoration: none;"
					href="samples.xhtml"> <span>Samples</span>
				</a>
				<a style="margin-left: 15px; text-decoration: none;"
					href="api.xhtml"> <span>API</span>
				</a>
				<a style="margin-left: 15px; text-decoration: none;" target="_blank"
					href="http://openqa.aksw.org"> <span>openQA</span>
				</a>
			</div>
			<span> 
				<a class="button_p"
					style="float: right; height: 30px; width: 64px; margin-top: 3px; margin-right: 15px; text-align: center; vertical-align: middle;"
					href="admin/manager.xhtml"> <img style="margin-top: 3px;"
						height="26" width="26" src="resources/images/settings.png"
						alt="Manager" />
				</a>
			</span>
		</div>
	</div>
	<div>
		<div>
			<div style="margin-top: 10px; margin-left: 10px;">
				<a href="./">
					<div align="left" style="background: url(#{applicationViewController.logo}) no-repeat; background-size: 75px 40px; height: 40px; width: 75px; position: absolute;" />
				</a>
				<p:inputText id="searchInput"
					onkeypress="event.keyCode==13?window.location.href='search.xhtml?q='+searchInput.value:false;"
					onkeyup="h.href='search.xhtml?q='+searchInput.value;r.href='search.xhtml?q='+searchInput.value+'&amp;content=sparql';searchKeyup(event, $(PrimeFaces.escapeClientId('h')));"
					value="#{searchViewController.query}"
					style="width: 550px;font-size: x-large;height: 45px;margin-left: 90px;" />
					<a style="margin-left:10px" id="h" class="button_go button_openqa" href="search.xhtml?q=#{searchViewController.query}" onclick="PF('bui').show()">Graph Search</a> 
					<a style="margin-left:10px" id="r" class="button_robot button_openqa" href="search.xhtml?q=#{searchViewController.query}&amp;content=sparql" onclick="PF('bui').show()">I´m a robot</a>
			</div>
		</div>
	</div>
	<p:outputPanel id="searchResult">
		<p:blockUI block="searchResult" widgetVar="bui">			
		 	<p:graphicImage value="resources/images/loading-2.gif" style="height: 50px;" />
		 	Querying millions of facts...
		</p:blockUI>
		<!-- ui:repeat-->	
		<ui:repeat var="resourceEntry" value="#{searchViewController.result}" varStatus="status">
			<p:outputPanel rendered="#{!resourceEntry.sparql &amp;&amp; searchViewController.resultSize > 1}">
				<div style="height: auto; background-color: rgb(241, 241, 241); box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25); margin: 10px;">
					<h3 style="margin: 5px;">#{resourceEntry.label}</h3>
					<div id="content" style="height: auto;">
						<div class="media" style="margin:10px;">
							  <div class="media-left">
							  	<p:outputPanel rendered="#{resourceEntry.imageURL != null}">
								    <a href="#{resourceEntry.imageURL}">
								      <p:graphicImage value="#{resourceEntry.imageURL}" alt="#{resourceEntry.label}" style="height: 50px;" />						  
								    </a>
							    </p:outputPanel>	
							  </div>
							  <div class="media-body">
							    <h:outputText value="#{resourceEntry.comment}"/>						   
							  </div>						  
						</div>
						<p:outputPanel rendered="#{resourceEntry.homepage != null}">
								<a id="page#{resourceEntry.id}" style="margin: 10px; font-size: small" href="#{resourceEntry.homepage}"
									target="_blank">Homepage</a>
								<a id="wikiLink" style="margin: 10px; font-size: small;" href="http://wikipedia.org/wiki/#{resourceEntry.entryPath}"
									target="_blank">Wikipedia</a>
								<a id="dbLink" style="margin: 10px; font-size: small;" href="#{resourceEntry.url}"
									target="_blank">DBpedia</a>
						</p:outputPanel>		
						<p:outputPanel rendered="#{resourceEntry.homepage == null}">
							<a id="wikiLink" style="margin: 10px; font-size: small;" href="http://wikipedia.org/wiki/#{resourceEntry.entryPath}"
								target="_blank">Wikipedia</a>
							<a id="dbLink" style="margin: 10px; font-size: small;" href="#{resourceEntry.url}"
								target="_blank">DBpedia</a>
						</p:outputPanel>			
					</div>
				</div>
			</p:outputPanel>		
			<p:outputPanel rendered="#{!resourceEntry.sparql &amp;&amp; searchViewController.resultSize == 1}">
				<div class="container" style="width:inherit;">
					<div id="plans-top-mbox" 
					class="content-main" 
					style="float: none; width: auto; font-size:larger; visibility: visible; 
							margin: 30px;display: block;text-align:left;background-color:white;box-shadow: 0px 2px 10px #888888;">
						<div class="content-header" style="box-shadow:0px 1px 1px #DFDFDF; background-color:#F8F8F8;">
							<div class="header-inner" style="background-color:#F8F8F8;">
							  <h2 style="font-weight:bold;font-size:large;">#{resourceEntry.label}</h2>
							</div>
						</div>
						<div class="stream-container">				  	
							<div class="stream profile-stream">
								<div style="margin:20px;">								
									 <div class="media">
										  <div class="media-left">
										    <a href="#{resourceEntry.imageURL}">
										      <p:graphicImage rendered="#{!resourceEntry.geospatial}" value="#{resourceEntry.imageURL}" alt="#{resourceEntry.label}" style="height: 200px;" />
										      <p:graphicImage rendered="#{resourceEntry.geospatial}" value="http://maps.googleapis.com/maps/api/staticmap?center=#{resourceEntry.lat},#{resourceEntry.lon}&amp;zoom=13&amp;size=600x300&amp;maptype=roadmap&amp;markers=color:blue%7C#{resourceEntry.label}:S%7C#{resourceEntry.lat},#{resourceEntry.lon}&amp;sensor=false" alt="#{resourceEntry.label}" style="height: 200px;" />
										    </a>
										  </div>
										  <div class="media-body">
										    <h:outputText value="#{resourceEntry.comment}"/>
										  </div>
									</div>
								</div>
							</div>
						</div>
						<div class="flex-module profile-banner-footer clearfix">
							<div class="default-footer">
								<div class="user-actions btn-group not-following" style="width: 100%;">
									<a target="_blank" href="http://wikipedia.org/wiki/#{resourceEntry.entryPath}">
										<button style="width:100%;border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;" 
													class="user-actions-follow-button js-follow-btn follow-button btn" type="button">
											<span class="button-text follow-text">
												 <i class="follow"></i>Wikipedia										
											</span>
										</button>
									</a>
								</div>
							</div>
						</div>					
					</div>				
					<span class="hrule collapsible_section_rule"></span>
				</div>				
			</p:outputPanel>		
			<p:outputPanel rendered="#{resourceEntry.sparql}">
				<div style="height: auto; background-color: rgb(241, 241, 241); box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25); margin: 10px;">
					<div id="content" style="height: auto;padding:30px">
						<a id="page#{resourceEntry.id}" style="margin: 10px; font-size: small;" href="http://dbpedia.org/sparql?default-graph-uri=http%3A%2F%2Fdbpedia.org&amp;query=#{resourceEntry.content}"
							target="_blank">
							#{resourceEntry.content}
						</a>
					</div>
				</div>
			</p:outputPanel>
		</ui:repeat>
		<p:outputPanel rendered="#{searchViewController.resultSize == 0}">
				<div style="height: auto; background-color: rgb(241, 241, 241); box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25); margin: 10px;">
					<div id="content" style="height: auto;padding:30px">
						<h:panelGrid columns="2" cellpadding="10">
			                <h:outputText
			                    value="Your question is very hard. I am still very young. :-(" />
			            </h:panelGrid>
					</div>
				</div>
		</p:outputPanel>
	</p:outputPanel>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</h:body>
</html>